<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <html>
    <head>
      <title>비밀게시판</title>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no"
      />

      <link rel="stylesheet" th:href="@{/css/index.css}" href="css/index.css" />
    </head>
    <body>
      <!-- Wrapper -->
      <div id="wrapper">
        <!-- Main -->
        <div id="main">
          <div class="inner">
            <!-- Header -->
            <header id="header">
              <a
                th:href="@{/board/community}"
                href="community.html"
                class="logo"
                ><strong>코로나 시대</strong> 살아남기</a
              >
              <ul class="icons">
                <li>
                  <a href="#" class="icon fa-twitter"
                    ><span class="label">Twitter</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-facebook"
                    ><span class="label">Facebook</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-snapchat-ghost"
                    ><span class="label">Snapchat</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-instagram"
                    ><span class="label">Instagram</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-medium"
                    ><span class="label">Medium</span></a
                  >
                </li>
              </ul>
            </header>

            <!-- Content -->
            <section>
              <header class="main">
                <h1><strong>자유게시판</strong></h1>
              </header>

              <p>
                이 곳은 코로나 정보와 관련된 이야기뿐만아니라 다양한 이야기를
                자유롭게 할 수 있는 "자유게시판"입니다.
              </p>
              <div class="article-container">
                <article class="article-board">
                  <a
                    class="article-box"
                    href="#"
                    style="text-decoration: none !important"
                  >
                    <h2 class="article-title">
                      <strong>가나다라마바사</strong>
                    </h2>
                    <p class="article-text">아자차카타파하</p>
                    <time class="article-text">방금</time>
                    <ul class="article-status">
                      <li title="공감" class="vote">👍🏻 0</li>
                      <li title="댓글" class="comment">💬 0</li>
                    </ul></a
                  >
                </article>

                <article class="article-board">
                  <a
                    class="article-box"
                    href="#"
                    style="text-decoration: none !important"
                  >
                    <h2 class="article-title">
                      <strong>가나다라마바사</strong>
                    </h2>
                    <p class="article-text">아자차카타파하</p>
                    <time class="article-text">방금</time>
                    <ul class="article-status">
                      <li title="공감" class="vote">👍🏻 0</li>
                      <li title="댓글" class="comment">💬 0</li>
                    </ul></a
                  >
                </article>

                <article class="article-board">
                  <a
                    class="article-box"
                    href="#"
                    style="text-decoration: none !important"
                  >
                    <h2 class="article-title">
                      <strong>가나다라마바사</strong>
                    </h2>
                    <p class="article-text">아자차카타파하</p>
                    <time class="article-text">방금</time>
                    <ul class="article-status">
                      <li title="공감" class="vote">👍🏻 0</li>
                      <li title="댓글" class="comment">💬 0</li>
                    </ul></a
                  >
                </article>

                <article class="article-board">
                  <a
                    class="article-box"
                    href="#"
                    style="text-decoration: none !important"
                  >
                    <h2 class="article-title">
                      <strong>가나다라마바사</strong>
                    </h2>
                    <p class="article-text">아자차카타파하</p>
                    <time class="article-text">방금</time>
                    <ul class="article-status">
                      <li title="공감" class="vote">👍🏻 0</li>
                      <li title="댓글" class="comment">💬 0</li>
                    </ul></a
                  >
                </article>

                <article class="article-board">
                  <a
                    class="article-box"
                    href="#"
                    style="text-decoration: none !important"
                  >
                    <h2 class="article-title">
                      <strong>가나다라마바사</strong>
                    </h2>
                    <p class="article-text">아자차카타파하</p>
                    <time class="article-text">방금</time>
                    <ul class="article-status">
                      <li title="공감" class="vote">👍🏻 0</li>
                      <li title="댓글" class="comment">💬 0</li>
                    </ul></a
                  >
                </article>

                <article class="article-board">
                  <a
                    class="article-box"
                    href="#"
                    style="text-decoration: none !important"
                  >
                    <h2 class="article-title">
                      <strong>가나다라마바사</strong>
                    </h2>
                    <p class="article-text">아자차카타파하</p>
                    <time class="article-text">방금</time>
                    <ul class="article-status">
                      <li title="공감" class="vote">👍🏻 0</li>
                      <li title="댓글" class="comment">💬 0</li>
                    </ul></a
                  >
                </article>

                <article class="article-board">
                  <a
                    class="article-box"
                    href="#"
                    style="text-decoration: none !important"
                  >
                    <h2 class="article-title">
                      <strong>가나다라마바사</strong>
                    </h2>
                    <p class="article-text">아자차카타파하</p>
                    <time class="article-text">방금</time>
                    <ul class="article-status">
                      <li title="공감" class="vote">👍🏻 0</li>
                      <li title="댓글" class="comment">💬 0</li>
                    </ul></a
                  >
                </article>

                <article class="article-board">
                  <a
                    class="article-box"
                    href="#"
                    style="text-decoration: none !important"
                  >
                    <h2 class="article-title">
                      <strong>가나다라마바사</strong>
                    </h2>
                    <p class="article-text">아자차카타파하</p>
                    <time class="article-text">방금</time>
                    <ul class="article-status">
                      <li title="공감" class="vote">👍🏻 0</li>
                      <li title="댓글" class="comment">💬 0</li>
                    </ul></a
                  >
                </article>

                <article class="article-board">
                  <a
                    class="article-box"
                    href="#"
                    style="text-decoration: none !important"
                  >
                    <h2 class="article-title">
                      <strong>가나다라마바사</strong>
                    </h2>
                    <p class="article-text">아자차카타파하</p>
                    <time class="article-text">방금</time>
                    <ul class="article-status">
                      <li title="공감" class="vote">👍🏻 0</li>
                      <li title="댓글" class="comment">💬 0</li>
                    </ul></a
                  >
                </article>

                <article class="article-board">
                  <a
                    class="article-box"
                    href="#"
                    style="text-decoration: none !important"
                  >
                    <h2 class="article-title">
                      <strong>가나다라마바사</strong>
                    </h2>
                    <p class="article-text">아자차카타파하</p>
                    <time class="article-text">방금</time>
                    <ul class="article-status">
                      <li title="공감" class="vote">👍🏻 0</li>
                      <li title="댓글" class="comment">💬 0</li>
                    </ul></a
                  >
                </article>
              </div>

              <ul class="pagination">
                <li><span class="button disabled">Prev</span></li>
                <li><a href="#" class="page active">1</a></li>
                <li><a href="#" class="page">2</a></li>
                <li><a href="#" class="page">3</a></li>
                <li><span>&hellip;</span></li>
                <li><a href="#" class="page">8</a></li>
                <li><a href="#" class="page">9</a></li>
                <li><a href="#" class="page">10</a></li>
                <li><a href="#" class="button">Next</a></li>
              </ul>

              <hr class="major" />

              <!-- Elements -->
              <h2 id="elements"><strong>글 작성하기</strong></h2>
              <div>
                <form method="post" action="#">
                  <div class="row uniform">
                    <div class="12u 12u$(xsmall)">
                      <input
                        type="text"
                        name="demo-name"
                        id="demo-name"
                        value=""
                        placeholder="title"
                      />
                    </div>

                    <!-- Break -->
                    <div class="12u$">
                      <div class="select-wrapper">
                        <select name="demo-category" id="demo-category">
                          <option value="">- Category -</option>
                          <option value="1">자유게시판</option>
                          <option value="1">비밀게시판</option>
                          <option value="1">정보공유게시판</option>
                          <option value="1">백신게시판</option>
                        </select>
                      </div>
                    </div>

                    <!-- Break -->
                    <div class="6u 12u$(small)">
                      <input type="checkbox" id="demo-copy" name="demo-copy" />
                      <label for="demo-copy">익명 사용하기</label>
                    </div>
                    <div class="6u$ 12u$(small)">
                      <input
                        type="checkbox"
                        id="demo-human"
                        name="demo-human"
                        checked
                      />
                      <label for="demo-human">익명 사용하지않기</label>
                    </div>
                    <!-- Break -->
                    <div class="12u$">
                      <textarea
                        name="demo-message"
                        id="demo-message"
                        placeholder="Enter your message"
                        rows="6"
                      ></textarea>
                    </div>
                    <!-- Break -->
                    <div class="12u$ action">
                      <ul class="actions">
                        <li>
                          <input type="submit" value="Upload" class="special" />
                        </li>
                        <li><input type="reset" value="Reset" /></li>
                      </ul>
                    </div>
                  </div>
                </form>
              </div>

              <hr class="major" />
              <!-- Content -->
              <h2 id="content">Sample Content</h2>
              <p>
                Praesent ac adipiscing ullamcorper semper ut amet ac risus.
                Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor
                erat risus justo adipiscing adipiscing amet placerat accumsan.
                Vis. Faucibus odio magna tempus adipiscing a non. In mi primis
                arcu ut non accumsan vivamus ac blandit adipiscing adipiscing
                arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida
                adipiscing eget accumsan ac nunc adipiscing adipiscing lorem
                ipsum dolor sit amet nullam veroeros adipiscing.
              </p>
              <div class="row">
                <div class="6u 12u$(small)">
                  <h3>Sem turpis amet semper</h3>
                  <p>
                    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing
                    gravida odio porttitor sem non mi integer non faucibus
                    ornare mi ut ante amet placerat aliquet. Volutpat commodo eu
                    sed ante lacinia. Sapien a lorem in integer ornare praesent
                    commodo adipiscing arcu in massa commodo lorem accumsan at
                    odio massa ac ac. Semper adipiscing varius montes viverra
                    nibh in adipiscing blandit tempus accumsan.
                  </p>
                </div>
                <div class="6u$ 12u$(small)">
                  <h3>Magna odio tempus commodo</h3>
                  <p>
                    In arcu accumsan arcu adipiscing accumsan orci ac. Felis id
                    enim aliquet. Accumsan ac integer lobortis commodo ornare
                    aliquet accumsan erat tempus amet porttitor. Ante commodo
                    blandit adipiscing integer semper orci eget. Faucibus
                    commodo adipiscing mi eu nullam accumsan morbi arcu ornare
                    odio mi adipiscing nascetur lacus ac interdum morbi accumsan
                    vis mi accumsan.
                  </p>
                </div>
                <!-- Break -->
                <div class="4u 12u$(medium)">
                  <h3>Interdum sapien gravida</h3>
                  <p>
                    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing
                    gravida odio porttitor sem non mi integer non faucibus
                    ornare mi ut ante amet placerat aliquet. Volutpat eu sed
                    ante lacinia sapien lorem accumsan varius montes viverra
                    nibh in adipiscing blandit.
                  </p>
                </div>
                <div class="4u 12u$(medium)">
                  <h3>Faucibus consequat lorem</h3>
                  <p>
                    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing
                    gravida odio porttitor sem non mi integer non faucibus
                    ornare mi ut ante amet placerat aliquet. Volutpat eu sed
                    ante lacinia sapien lorem accumsan varius montes viverra
                    nibh in adipiscing blandit.
                  </p>
                </div>
                <div class="4u$ 12u$(medium)">
                  <h3>Accumsan montes viverra</h3>
                  <p>
                    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing
                    gravida odio porttitor sem non mi integer non faucibus
                    ornare mi ut ante amet placerat aliquet. Volutpat eu sed
                    ante lacinia sapien lorem accumsan varius montes viverra
                    nibh in adipiscing blandit.
                  </p>
                </div>
              </div>
            </section>
          </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
          <div class="inner">
            <!-- Search -->
            <section id="search" class="alt">
              <form method="post" action="#">
                <input
                  type="text"
                  name="query"
                  id="query"
                  placeholder="Search"
                />
              </form>
            </section>

            <!-- Menu -->
            <nav id="menu">
              <header class="major">
                <h2>Menu</h2>
              </header>
              <ul>
                <li><a href="community.html">홈</a></li>
                <li>
                  <span class="opener">게시판</span>
                  <ul>
                    <li><a href="board_main.html">자유게시판</a></li>
                    <li><a href="#">비밀게시판</a></li>
                    <li><a href="#">정보공유게시판</a></li>
                    <li><a href="#">백신게시판</a></li>
                  </ul>
                </li>
                <li><a href="elements.html">항목 추가하기</a></li>
              </ul>
            </nav>

            <!-- Section -->
            <section>
              <header class="major">
                <h2>My page</h2>
              </header>
              <div class="mini-posts">
                <article>
                  <a href="#" class="image"
                    ><img src="images/pic06.jpg" alt=""
                  /></a>
                  <p align="center">
                    커뮤니티 이용을 위해 <br />
                    회원가입이 필요합니다!
                  </p>
                </article>
              </div>
              <ul class="actions" id="actions-more">
                <li><a href="#" class="button">More</a></li>
              </ul>
            </section>

            <!-- Section -->
            <section>
              <header class="major">
                <h2>Information</h2>
              </header>
              <div class="mini-posts">
                <article>
                  <a
                    href="https://blog.naver.com/mohw2016/222358574027"
                    class="image"
                    ><img src="images/picture1.png" alt=""
                  /></a>
                </article>
                <article>
                  <a
                    href="http://ncov.mohw.go.kr/infoBoardView.do?brdId=3&brdGubun=32&dataGubun=328&ncvContSeq=4720&contSeq=4720&board_id=&gubun="
                    class="image"
                    ><img src="images/picture2.png" alt=""
                  /></a>
                </article>
                <article>
                  <a
                    href="https://www.youtube.com/watch?v=6e3JLnOMPQk"
                    class="image"
                    ><img src="images/picture3.png" alt=""
                  /></a>
                </article>
              </div>
              <ul class="actions" id="actions-more">
                <li><a href="#" class="button">More</a></li>
              </ul>
            </section>

            <!-- Section -->
            <section>
              <header class="major">
                <h2>Get in touch</h2>
              </header>
              <p>
                이 서비스는 충북대학교 소프트웨어학과 4학년 졸업작품 프로젝트로,
                WIWY팀이 창작한 것입니다. 수정 사항 및 요청 사항이 있으면 아래로
                연락 바랍니다.
              </p>
              <ul class="contact">
                <li class="fa-envelope-o">
                  <a href="#">spy03128@naver.com</a>
                </li>
                <li class="fa-phone">010-4934-0543</li>
                <li class="fa-home">
                  충청북도 청주시 서원구 충대로1<br />
                  충북대학교, 28644
                </li>
              </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
              homepage, made by <i class="fa fa-love"></i
              ><a href="https://naver.com">WIWY</a>
              <div class="footer-row">
                <ul class="icons">
                  <li>
                    <a href="#" class="icon fa-twitter"
                      ><span class="label">Twitter</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-facebook"
                      ><span class="label">Facebook</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-instagram"
                      ><span class="label">Instagram</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-github"
                      ><span class="label">Github</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-dribbble"
                      ><span class="label">Dribbble</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-tumblr"
                      ><span class="label">Tumblr</span></a
                    >
                  </li>
                </ul>
              </div>
            </footer>
          </div>
        </div>
      </div>

      <!-- Scripts -->
      <script src="js/jquery.min.js"></script>
      <script src="js/skel.min.js"></script>
      <script src="js/util.js"></script>

      <script src="js/index.js"></script>
    </body>
  </html>
</html>
