<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
      <title>자유게시판</title>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no"
      />

      <link
        rel="stylesheet"
        th:href="@{/css/index.css}"
        href="../../static/css/index.css"
      />
    </head>
    <body>
      <!-- Wrapper -->
      <div id="wrapper">
        <!-- Main -->
        <div id="main">
          <div class="inner">
            <!-- Header -->
            <header id="header">
              <a th:href="@{/co}" href="community.html" class="logo"
                ><strong>코로나 시대</strong> 살아남기</a
              >
              <ul class="icons">
                <li>
                  <a href="#" class="icon fa-twitter"
                    ><span class="label">Twitter</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-facebook"
                    ><span class="label">Facebook</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-snapchat-ghost"
                    ><span class="label">Snapchat</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-instagram"
                    ><span class="label">Instagram</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-medium"
                    ><span class="label">Medium</span></a
                  >
                </li>
              </ul>
            </header>

            <!-- Content -->
            <section>
              <header class="main">
                <h1 th:text="${board.boardName}">
                  <strong>자유게시판</strong>
                </h1>
              </header>

              <p th:text="${board.description}">
                이 곳은 코로나 정보와 관련된 이야기뿐만아니라 다양한 이야기를
                자유롭게 할 수 있는 "자유게시판"입니다.
              </p>
              <ul class="actions post" id="actions-more-post">
                <li>
                  <a
                    th:href="@{/{boardId}/add(boardId=${board.id})}"
                    href="../post/addPostForm.html"
                    class="button"
                    >Post</a
                  >
                </li>
              </ul>
              <div class="article-container">
                <article th:each="postDTO : ${postDTOS}" class="article-board">
                  <a
                    class="article-box"
                    th:href="@{/{boardId}/view/{postId}(boardId=${board.id},postId=${postDTO.post.id})}"
                    href="../post/post_main.html"
                    style="text-decoration: none !important"
                  >
                    <h2 class="article-title">
                      <strong th:text="${postDTO.post.postName}"
                        >가나다라마바사</strong
                      >
                    </h2>
                    <p th:text="${postDTO.post.content}" class="article-text">
                      아자차카타파하
                    </p>
                    <time th:text="${postDTO.postTime}" class="article-text"
                      >방금</time
                    >
                    <ul class="article-status">
                      <li
                        th:text="'👍🏻 ' + ${postDTO.post.likes}"
                        title="공감"
                        class="vote"
                      >
                        👍🏻 0
                      </li>
                      <li
                        th:text="'💬 ' + ${#lists.size(postDTO.post.comments)}"
                        title="댓글"
                        class="comment"
                      >
                        💬 0
                      </li>
                    </ul></a
                  >
                </article>
              </div>

              <ul class="pagination">
                <li><span class="button disabled">Prev</span></li>
                <li><a href="#" class="page active">1</a></li>
                <li><a href="#" class="page">2</a></li>
                <li><a href="#" class="page">3</a></li>
                <li><span>&hellip;</span></li>
                <li><a href="#" class="page">8</a></li>
                <li><a href="#" class="page">9</a></li>
                <li><a href="#" class="page">10</a></li>
                <li><a href="#" class="button">Next</a></li>
              </ul>

              <hr class="major" />
            </section>
          </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
          <div class="inner">
            <!-- Search -->
            <section id="search" class="alt">
              <form method="post" action="#">
                <input
                  type="text"
                  name="query"
                  id="query"
                  placeholder="Search"
                />
              </form>
            </section>

            <!-- Menu -->
            <nav id="menu">
              <header class="major">
                <h2>Menu</h2>
              </header>
              <ul>
                <li><a th:href="@{/co}" href="community.html">홈</a></li>
                <li>
                  <span class="opener">게시판</span>
                  <ul>
                    <li>
                      <a th:href="@{/1}" href="board_main.html">자유게시판</a>
                    </li>
                    <li><a th:href="@{/2}" href="#">비밀게시판</a></li>
                    <li><a th:href="@{/3}" href="#">정보공유게시판</a></li>
                    <li><a th:href="@{/4}" href="#">백신게시판</a></li>
                    <li><a th:href="@{/5}" href="#">코로나검사게시판</a></li>
                    <li><a th:href="@{/6}" href="#">자가격리게시판</a></li>
                  </ul>
                </li>
                <li><a href="#">항목 추가하기</a></li>
              </ul>
            </nav>

            <!-- Section -->
            <section>
              <header class="major">
                <h2>My page</h2>
              </header>
              <div class="mini-posts">
                <article>
                  <a href="#" class="image"
                    ><img
                      th:src="@{/images/my.png}"
                      src="../../static/images/my.png"
                      alt=""
                  /></a>
                  <p align="center">
                    커뮤니티 이용을 위해 <br />
                    회원가입이 필요합니다!
                  </p>
                </article>
              </div>
              <ul class="actions" id="actions-more">
                <li><a href="#" class="button">More</a></li>
              </ul>
            </section>

            <!-- Section -->
            <section>
              <header class="major">
                <h2>Information</h2>
              </header>
              <div class="mini-posts">
                <article>
                  <a
                    href="https://blog.naver.com/mohw2016/222358574027"
                    class="image"
                    ><img
                      th:src="@{/images/picture1.png}"
                      src="../../static/images/picture1.png"
                      alt=""
                  /></a>
                </article>
                <article>
                  <a
                    href="http://ncov.mohw.go.kr/infoBoardView.do?brdId=3&brdGubun=32&dataGubun=328&ncvContSeq=4720&contSeq=4720&board_id=&gubun="
                    class="image"
                    ><img
                      th:src="@{/images/picture2.png}"
                      src="../../static/images/picture2.png"
                      alt=""
                  /></a>
                </article>
                <article>
                  <a
                    href="https://www.youtube.com/watch?v=6e3JLnOMPQk"
                    class="image"
                    ><img
                      th:src="@{/images/picture3.png}"
                      src="../../static/images/picture3.png"
                      alt=""
                  /></a>
                </article>
              </div>
              <ul class="actions" id="actions-more">
                <li><a href="#" class="button">More</a></li>
              </ul>
            </section>

            <!-- Section -->
            <section>
              <header class="major">
                <h2>Get in touch</h2>
              </header>
              <p>
                이 서비스는 충북대학교 소프트웨어학과 4학년 졸업작품 프로젝트로,
                WIWY팀이 창작한 것입니다. 수정 사항 및 요청 사항이 있으면 아래로
                연락 바랍니다.
              </p>
              <ul class="contact">
                <li class="fa-envelope-o">
                  <a href="#">spy03128@naver.com</a>
                </li>
                <li class="fa-phone">010-4934-0543</li>
                <li class="fa-home">
                  충청북도 청주시 서원구 충대로1<br />
                  충북대학교, 28644
                </li>
              </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
              homepage, made by <i class="fa fa-love"></i
              ><a href="https://naver.com">WIWY</a>
              <div class="footer-row">
                <ul class="icons">
                  <li>
                    <a href="#" class="icon fa-twitter"
                      ><span class="label">Twitter</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-facebook"
                      ><span class="label">Facebook</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-instagram"
                      ><span class="label">Instagram</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-github"
                      ><span class="label">Github</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-dribbble"
                      ><span class="label">Dribbble</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-tumblr"
                      ><span class="label">Tumblr</span></a
                    >
                  </li>
                </ul>
              </div>
            </footer>
          </div>
        </div>
      </div>

      <!-- Scripts -->
      <script
        th:src="@{/js/jquery.min.js}"
        src="../../static/js/jquery.min.js"
      ></script>
      <script
        th:src="@{/js/skel.min.js}"
        src="../../static/js/skel.min.js"
      ></script>
      <script th:src="@{/js/util.js}" src="../../static/js/util.js"></script>

      <script th:src="@{/js/index.js}" src="../../static/js/index.js"></script>
    </body>

</html>
