<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.w3.org/1999/xhtml"
>
    <head>
      <title>코로나 시대 살아남기</title>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no"
      />
      <link
        rel="stylesheet"
        th:href="@{/css/index.css}"
        href="../../static/css/index.css"
      />
    </head>
    <body>
      <!-- Wrapper -->
      <div id="wrapper">
        <!-- Main -->
        <div id="main">
          <div class="inner">
            <!-- Header -->
            <header id="header">
              <a th:href="@{/co}" href="community.html" class="logo"
                ><strong>코로나 시대</strong> 살아남기</a
              >
              <ul class="icons">
                <li>
                  <a href="#" class="icon fa-twitter"
                    ><span class="label">Twitter</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-facebook"
                    ><span class="label">Facebook</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-snapchat-ghost"
                    ><span class="label">Snapchat</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-instagram"
                    ><span class="label">Instagram</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-medium"
                    ><span class="label">Medium</span></a
                  >
                </li>
              </ul>
            </header>
            <!-- Banner -->
            <section id="banner">
              <div class="content">
                <header>
                  <h1>
                    코로나 시대를 살아가는 여러분들을 위한<br />
                    <strong>코로나 정보 제공 서비스</strong>
                  </h1>
                  <p>확진자 정보부터 국내외 발생 현황, 백신 현황까지</p>
                </header>
                <p>
                  저희 서비스를 이용하시면 확진환자, 격리해제, 격리중, 사망자의
                  현황을 파악할 수 있고, 시도별 확진자 수를 확인할 수 있으며,
                  국내뿐만 아니라 국외 발생동향도 알 수 있습니다. 더 나아가
                  코로나 백신 접종 현황까지 한 눈에 확인 가능합니다.
                </p>
                <ul class="actions">
                  <li>
                    <a th:href="@{/}" href="../main.html" class="button big"
                      >정보 알아보기</a
                    >
                  </li>
                </ul>
              </div>
              <span class="image object">
                <img
                  th:src="@{/images/covid.png}"
                  src="../../static/images/covid.png"
                  alt=""
                />
              </span>
            </section>

            <!-- Section -->
            <section>
              <header class="major">
                <h2>게시판</h2>
              </header>
              <div class="posts">
                <article th:each="boardDTO : ${boardDTOS}">
                  <div class="board">
                    <h3 th:text="${boardDTO.board.boardName}">자유게시판</h3>
                    <a
                      th:each="postDTO : ${boardDTO.postDTOS}"
                      class="list"
                      href="#"
                      th:href="@{/{boardId}/view/{postId}(boardId=${boardDTO.board.id},postId=${postDTO.post.id})}"
                    >
                      <time th:text="${postDTO.postTime}">방금</time>
                      <p th:text="${postDTO.post.postName}">가나다</p>
                    </a>
                  </div>
                  <ul class="actions" id="actions-more">
                    <li>
                      <a
                        th:href="@{/{boardId}(boardId=${boardDTOStat.count})}"
                        href="board_main.html"
                        class="button"
                        >More</a
                      >
                    </li>
                  </ul>
                </article>
              </div>
            </section>
          </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
          <div class="inner">
            <!-- Search -->
            <section id="search" class="alt">
              <form method="post" action="#">
                <input
                  type="text"
                  name="query"
                  id="query"
                  placeholder="Search"
                />
              </form>
            </section>

            <!-- Menu -->
            <nav id="menu">
              <header class="major">
                <h2>Menu</h2>
              </header>
              <ul>
                <li><a th:href="@{/co}" href="community.html">홈</a></li>
                <li>
                  <span class="opener">게시판</span>
                  <ul>
                    <li>
                      <a th:href="@{/1}" href="board_main.html">자유게시판</a>
                    </li>
                    <li><a th:href="@{/2}" href="#">비밀게시판</a></li>
                    <li><a th:href="@{/3}" href="#">정보공유게시판</a></li>
                    <li><a th:href="@{/4}" href="#">백신게시판</a></li>
                    <li><a th:href="@{/5}" href="#">코로나검사게시판</a></li>
                    <li><a th:href="@{/6}" href="#">자가격리게시판</a></li>
                  </ul>
                </li>
                <li><a href="#">항목 추가하기</a></li>
              </ul>
            </nav>

            <!-- Section -->
            <section>
              <header class="major">
                <h2>My page</h2>
              </header>
              <div class="mini-posts">
                <article id="mypage">
                  <a href="#" class="image"
                    ><img
                      th:src="@{/images/my.png}"
                      src="../../static/images/my.png"
                      alt=""
                  /></a>
                  <p th:if="${param.memberId}">
                    회원명 :
                    <span
                      th:if="${param.memberId}"
                      th:text="${member.userName}"
                    ></span>
                  </p>

                  <p th:unless="${param.memberId}" align="center">
                    커뮤니티 이용을 위해 <br />회원가입이 필요합니다!
                  </p>
                </article>
              </div>
              <ul class="actions" id="actions-more">

                <li>
                  <a
                          th:unless="${param.memberId}"
                    th:href="@{/loginForm}"
                    href="../member/signIn.html"
                    class="button"
                    >Sign in</a
                  >
                </li>
                <li>
                  <a
                          th:unless="${param.memberId}"
                    th:href="@{/joinForm}"
                    href="../member/signUp.html"
                    class="button"
                    >Sign Up</a
                  >
                </li>
<!--                <li>-->
<!--                  <a-->
<!--                    sec:authorize="isAnonymous()"-->
<!--                    th:href="@{/login}"-->
<!--                    href="../member/signIn.html"-->
<!--                    class="button"-->
<!--                    >Sign in</a-->
<!--                  >-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a-->
<!--                    sec:authorize="isAuthenticated()"-->
<!--                    th:href="@{/logout}"-->
<!--                    href="./community.html"-->
<!--                    class="button"-->
<!--                    >Logout</a-->
<!--                  >-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a-->
<!--                    sec:authorize="isAnonymous()"-->
<!--                    th:href="@{/addMember}"-->
<!--                    href="../member/signUp.html"-->
<!--                    class="button"-->
<!--                    >Sign up</a-->
<!--                  >-->
<!--                </li>-->
              </ul>
            </section>

            <!-- Section -->
            <section>
              <header class="major">
                <h2>Information</h2>
              </header>
              <div class="mini-posts">
                <article>
                  <a
                    href="https://blog.naver.com/mohw2016/222358574027"
                    class="image"
                    ><img
                      th:src="@{/images/picture1.png}"
                      src="../../static/images/picture1.png"
                      alt=""
                  /></a>
                </article>
                <article>
                  <a
                    href="http://ncov.mohw.go.kr/infoBoardView.do?brdId=3&brdGubun=32&dataGubun=328&ncvContSeq=4720&contSeq=4720&board_id=&gubun="
                    class="image"
                    ><img
                      th:src="@{/images/picture2.png}"
                      src="../../static/images/picture2.png"
                      alt=""
                  /></a>
                </article>
                <article>
                  <a
                    href="https://www.youtube.com/watch?v=6e3JLnOMPQk"
                    class="image"
                    ><img
                      th:src="@{/images/picture3.png}"
                      src="../../static/images/picture3.png"
                      alt=""
                  /></a>
                </article>
              </div>
              <ul class="actions" id="actions-more">
                <li><a href="#" class="button">More</a></li>
              </ul>
            </section>

            <!-- Section -->
            <section>
              <header class="major">
                <h2>Get in touch</h2>
              </header>
              <p>
                이 서비스는 충북대학교 소프트웨어학과 4학년 졸업작품 프로젝트로,
                WIWY팀이 창작한 것입니다. 수정 사항 및 요청 사항이 있으면 아래로
                연락 바랍니다.
              </p>
              <ul class="contact">
                <li class="fa-envelope-o">
                  <a href="#">spy03128@naver.com</a>
                </li>
                <li class="fa-phone">010-4934-0543</li>
                <li class="fa-home">
                  충청북도 청주시 서원구 충대로1<br />
                  충북대학교, 28644
                </li>
              </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
              homepage, made by <i class="fa fa-love"></i
              ><a href="https://naver.com">WIWY</a>
              <div class="footer-row">
                <ul class="icons">
                  <li>
                    <a href="#" class="icon fa-twitter"
                      ><span class="label">Twitter</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-facebook"
                      ><span class="label">Facebook</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-instagram"
                      ><span class="label">Instagram</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-github"
                      ><span class="label">Github</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-dribbble"
                      ><span class="label">Dribbble</span></a
                    >
                  </li>
                  <li>
                    <a href="#" class="icon fa-tumblr"
                      ><span class="label">Tumblr</span></a
                    >
                  </li>
                </ul>
              </div>
            </footer>
          </div>
        </div>
      </div>

      <!-- Scripts -->
      <script
        th:src="@{/js/jquery.min.js}"
        src="../../static/js/jquery.min.js"
      ></script>
      <script
        th:src="@{/js/skel.min.js}"
        src="../../static/js/skel.min.js"
      ></script>
      <script th:src="@{/js/util.js}" src="../../static/js/util.js"></script>
      <!--[if lte IE 8
        ]><script src="assets/js/ie/respond.min.js"></script
      ><![endif]-->
      <script th:src="@{/js/index.js}" src="../../static/js/index.js"></script>
    </body>

</html>
