<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>로그인</title>
    <meta charset="utf-8" />
    <style>
      .container {
        /* max-width: 560px; */
      }
    </style>
    <link
      rel="stylesheet"
      th:href="@{/css/index.css}"
      href="../../static/css/index.css"
    />
  </head>
  <body>
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header -->
          <header id="header">
            <a th:href="@{/co}" href="../board/community.html" class="logo"
              ><strong>코로나 시대</strong> 살아남기</a
            >
            <ul class="icons">
              <li>
                <a href="#" class="icon fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon fa-facebook"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon fa-snapchat-ghost"
                  ><span class="label">Snapchat</span></a
                >
              </li>
              <li>
                <a href="#" class="icon fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon fa-medium"
                  ><span class="label">Medium</span></a
                >
              </li>
            </ul>
          </header>
          <div class="container">
            <div class="py-5 text-center">
              <h1>
                <br />
                <strong>로그인</strong>
              </h1>
            </div>
            <!-- <h4 class="mb-3">게시판 입력</h4> -->
            <form th:action="@{/login}" method="post">
              <div class="btn-row">
                <label for="username">아이디</label>
                <input
                  type="text"
                  id="username"
                  name="username"
                  class="form-control"
                  placeholder="아이디를 입력하세요"
                  style="width: 50%; height: 60px"
                />
              </div>
              <div class="btn-row">
                <label for="password">비밀번호</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="비밀번호를 입력하세요"
                  style="width: 50%; height: 60px"
                />
              </div>
              <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
              <div>
                <div class="btn-row">
                  <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">
                      로그인
                    </button>
                    <a href="/oauth2/authorization/google">구글 로그인</a>
                    <a href="/oauth2/authorization/facebook">페이스북 로그인</a>
                    <a href="/oauth2/authorization/naver">네이버 로그인</a>
                  </div>
                  <div class="col">
                    <button
                      class="w-100 btn btn-secondary btn-lg"
                      onclick="location.href='items.html'"
                      th:onclick="|location.href='@{/co}'|"
                      type="button"
                    >
                      취소
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <div class="inner">
          <!-- Search -->
          <section id="search" class="alt">
            <form method="post" action="#">
              <input type="text" name="query" id="query" placeholder="Search" />
            </form>
          </section>

          <!-- Menu -->
          <nav id="menu">
            <header class="major">
              <h2>Menu</h2>
            </header>
            <ul>
              <li><a th:href="@{/co}" href="../board/community.html">홈</a></li>
              <li>
                <span class="opener">게시판</span>
                <ul>
                  <li>
                    <a th:href="@{/1}" href="board_main.html">자유게시판</a>
                  </li>
                  <li><a th:href="@{/2}" href="#">비밀게시판</a></li>
                  <li><a th:href="@{/3}" href="#">정보공유게시판</a></li>
                  <li><a th:href="@{/4}" href="#">백신게시판</a></li>
                  <li><a th:href="@{/5}" href="#">코로나검사게시판</a></li>
                  <li><a th:href="@{/6}" href="#">자가격리게시판</a></li>
                </ul>
              </li>
              <li><a href="#">항목 추가하기</a></li>
            </ul>
          </nav>

          <!-- Section -->
          <section>
            <header class="major">
              <h2>My page</h2>
            </header>
            <div class="mini-posts">
              <article id="mypage">
                <a href="#" class="image"
                  ><img
                    th:src="@{/images/pic06.jpg}"
                    src="../../static/images/my.png"
                    alt=""
                /></a>
                <p align="center">
                  커뮤니티 이용을 위해 <br />회원가입이 필요합니다!
                </p>
              </article>
            </div>
            <ul class="actions" id="actions-more">
              <li><a href="signin.html" th:href="@{/loginForm}" class="button">Sign in</a></li>
              <li><a href="signUp.html" th:href="@{/joinForm}" class="button">Sign up</a></li>
            </ul>
          </section>

          <!-- Section -->
          <section>
            <header class="major">
              <h2>Information</h2>
            </header>
            <div class="mini-posts">
              <article>
                <a
                  href="https://blog.naver.com/mohw2016/222358574027"
                  class="image"
                  ><img
                    th:src="@{/images/picture1.png}"
                    src="../../static/images/picture1.png"
                    alt=""
                /></a>
              </article>
              <article>
                <a
                  href="http://ncov.mohw.go.kr/infoBoardView.do?brdId=3&brdGubun=32&dataGubun=328&ncvContSeq=4720&contSeq=4720&board_id=&gubun="
                  class="image"
                  ><img
                    th:src="@{/images/picture2.png}"
                    src="../../static/images/picture2.png"
                    alt=""
                /></a>
              </article>
              <article>
                <a
                  href="https://www.youtube.com/watch?v=6e3JLnOMPQk"
                  class="image"
                  ><img
                    th:src="@{/images/picture3.png}"
                    src="../../static/images/picture3.png"
                    alt=""
                /></a>
              </article>
            </div>
            <ul class="actions" id="actions-more">
              <li><a href="#" class="button">More</a></li>
            </ul>
          </section>

          <!-- Section -->
          <section>
            <header class="major">
              <h2>Get in touch</h2>
            </header>
            <p>
              이 서비스는 충북대학교 소프트웨어학과 4학년 졸업작품 프로젝트로,
              WIWY팀이 창작한 것입니다. 수정 사항 및 요청 사항이 있으면 아래로
              연락 바랍니다.
            </p>
            <ul class="contact">
              <li class="fa-envelope-o">
                <a href="#">spy03128@naver.com</a>
              </li>
              <li class="fa-phone">010-4934-0543</li>
              <li class="fa-home">
                충청북도 청주시 서원구 충대로1<br />
                충북대학교, 28644
              </li>
            </ul>
          </section>

          <!-- Footer -->
          <footer id="footer">
            homepage, made by <i class="fa fa-love"></i
            ><a href="https://naver.com">WIWY</a>
            <div class="footer-row">
              <ul class="icons">
                <li>
                  <a href="#" class="icon fa-twitter"
                    ><span class="label">Twitter</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-facebook"
                    ><span class="label">Facebook</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-instagram"
                    ><span class="label">Instagram</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-github"
                    ><span class="label">Github</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-dribbble"
                    ><span class="label">Dribbble</span></a
                  >
                </li>
                <li>
                  <a href="#" class="icon fa-tumblr"
                    ><span class="label">Tumblr</span></a
                  >
                </li>
              </ul>
            </div>
          </footer>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script
      th:src="@{/js/jquery.min.js}"
      src="../../static/js/jquery.min.js"
    ></script>
    <script
      th:src="@{/js/skel.min.js}"
      src="../../static/js/skel.min.js"
    ></script>
    <script th:src="@{/js/util.js}" src="../../static/js/util.js"></script>

    <script th:src="@{/js/index.js}" src="../../static/js/index.js"></script>
  </body>
</html>
