@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}
p {
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.container {
  /* iPhone 가로 스크롤 방지 */
  overflow-x: hidden;
  width: 100%;
}
.normal-content {
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: rgb(255, 255, 255);
  height: auto;
}

.content-section {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  /* margin-bottom: 200px; */
  background-color: rgb(255, 255, 255);
}
.content-section h1 {
  font-size: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.scroll-section {
  position: relative;
  padding-top: 40vh;
  color: #fff;
}

#scroll-section-0 h1 {
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 3.5rem;
  text-align: center;
}
.main-message {
  top: 40vh;
  font-size: 2.5rem;
  opacity: 0;
}
.main-message.a {
  font-size: 3.5rem;
  top: 30vh;
}
.main-message.b {
  font-size: 4.5rem;
}
.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}

.scroll-effect-end .sticky-elem {
  /* 스크롤 효과가 모두 끝나고, 아래 일반 콘텐츠 영역에서는 sticky-elem들을 모두 안보이도록 */
  display: none !important;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
  opacity: 0;
  transition: 0.5s;
}
.before-load .container {
  display: none;
}
.before-load .loading {
  opacity: 1;
}
@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}
.loading-circle circle {
  stroke: black;
  stroke-width: 4;
  /* getTotalLength()로 stroke의 길이를 얻어올 수 있음 */
  stroke-dasharray: 157, 157;
  stroke-dashoffset: 0;
  fill: transparent;
  animation: loading-circle-ani 1s infinite;
}

.nav-show {
  opacity: 1 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
  z-index: 10;
  border-bottom: 1px solid #ddd;
  -webkit-backdrop-filter: saturate(180%) blur(15px); /*아이폰*/
  -moz-backdrop-filter: saturate(180%) blur(15px); /*파이어폭스*/
  -o-backdrop-filter: saturate(180%) blur(15px); /*오페라*/
  backdrop-filter: saturate(180%) blur(15px);
  background-color: rgba(255, 253, 253, 0.5);
}
.navbar {
  opacity: 0;
}
.navbar-links {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.05rem;
}
.navbar-links a:not(.navbar-logo) {
  margin-left: 10em;
}
.navbar-logo {
  margin-right: auto;
}
.covid-logo {
  left: 50%;
  top: 30%;
  width: 1000vw;
  transform: translate(-10%, -50%);
}

.ribbon-path {
  left: 50%;
  top: 50%;
  min-width: 850px;
  transform: translate(-50%, -50%);
}
.ribbon-path path {
  fill: none;
  stroke: #5a5153;
  stroke-width: 62;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1401, 1401;
  stroke-dashoffset: 1401;
}

.data {
  display: flex;
  height: auto;
  width: auto;
}

.data div {
  border-radius: 10px;
  width: 40vw;
  height: 40vw;
  min-width: 40vw;
  margin: 10px 10px 10px 10px;
  text-align: center;
}
.data2 div {
  border-radius: 10px;
  width: 80vw;
  height: 30vw;
  min-width: 80vw;
  margin: 20px 20px 20px 20px;
  text-align: center;
}
.coronaboard p {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aliceblue;
}
.coronaboard span {
  font-size: 50px;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.dailyCovidStatus {
  background-color: rgb(255, 255, 255);
  width: 90vw;
  height: 50vw;
}
.vaccineCovidStatus {
  background-color: rgb(255, 255, 255);
  width: 90vw;
  height: 50vw;
}
#onebox {
  background-color: rgb(49, 49, 168);
  justify-content: center;
}
#onebox2 {
  background-color: rgb(123, 123, 214);
  justify-content: center;
}
#onebox p {
  background-color: rgba(0, 0, 0, 0.4);
}
#onebox2 p {
  background-color: rgba(0, 0, 0, 0.4);
}
#abce {
  color: red;
  font-size: 30px;
  display: block;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#datenum {
  color: red;
  font-size: 30px;
  display: block;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#twobox {
  background-color: rgb(138, 58, 126);
}
#twobox2 {
  background-color: rgb(243, 172, 232);
}
#twobox p {
  background-color: rgba(0, 0, 0, 0.4);
}
#twobox2 p {
  background-color: rgba(0, 0, 0, 0.4);
}
#threebox {
  background-color: rgb(104, 103, 109);
}
#threebox p {
  background-color: rgba(0, 0, 0, 0.4);
}
#fourbox {
  background-color: rgb(39, 105, 94);
}
#fourbox p {
  background-color: rgba(0, 0, 0, 0.4);
}
.map {
  width: 90vw;
  height: 140vw;
  margin-top: 10vw;
  margin-bottom: 20vw;
  padding-bottom: 10vw;
  background: #ffffff;
}
.map svg {
  width: 100%;
  height: 100%;
}
.cityCovidStatus {
  background-color: rgb(255, 248, 255);
  width: 90vw;
  height: 90vw;
}
.tabel {
  left: 50%;
  top: 50%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 14px 12px rgba(32, 32, 32, 0.3);
  background: #e0dfdf;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

.tabel th {
  padding: 12px 20px;
  /* background: #ba68c8; */
  color: rgb(90, 90, 90);
  text-transform: uppercase;
  font-family: "Noto Sans KR", sans-serif;
}
.tabel thead {
  background: #ffffff;
}

.tabel td {
  width: 349px;
  padding: 10px;
  vertical-align: middle;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: white;
  font-size: 12px;
}
.th-1 {
  display: flex;
  justify-content: left;
  padding-left: 5vw;
}
footer {
  background-color: #000000;
  height: 30vh;
  width: 100v;
}

@media (min-width: 1024px) {
  .navbar-links a:not(.navbar-logo) {
    margin-left: 2em;
  }
  .navbar-logo {
    margin-right: auto;
  }
  .navbar-links {
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 1rem;
  }
  .scroll-section {
    position: relative;
    padding-top: 50vh;
    color: #fff;
  }
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .normal-content {
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: rgb(255, 255, 255);
  }

  .content-section {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  #content-section-5 {
    margin-bottom: 20vw;
  }
  .two-content {
    display: flex;
  }
  .content-section h1 {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .data div {
    border-radius: 10px;
    width: 15vw;
    height: 15vw;
    min-width: 15vw;
    margin: 10px 10px 10px 10px;
    text-align: center;
  }
  .data2 div {
    border-radius: 10px;
    width: 20vw;
    height: 10vw;
    min-width: 30vw;
    margin: 20px 20px 20px 20px;
    text-align: center;
  }
  .coronaboard {
    background-color: rgb(255, 255, 255);
    margin-left: 3vw;
  }
  .coronaboard p {
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: aliceblue;
  }
  .coronaboard span {
    font-size: 50px;
    color: aliceblue;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .coronaNum {
    margin-top: 4vw !important;
    display: block;
  }

  .dailyCovidStatus {
    background-color: rgb(255, 255, 255);
    width: 40vw;
    height: 30vw;
  }
  .vaccineCovidStatus {
    background-color: rgb(255, 255, 255);
    width: 40vw;
    height: 30vw;
  }
  .map {
    width: 40vw;
    height: 50vw;
    margin: 0;
    padding: 0;
    background: #ffffff;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .map svg {
    display: block;
    width: 80%;
    height: 93%;
  }
  .main-message {
    font-size: 4vw;
  }
  .main-message.a {
    font-size: 7vw;
  }
  .main-message.b {
    font-size: 10vw;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  .cityCovidStatus {
    background-color: rgb(252, 252, 252);
    width: 35vw;
    height: 35vw;
    padding: 2vw;
  }
  .tabel {
    left: 50%;
    top: 50%;
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 14px 12px rgba(32, 32, 32, 0.3);
    background: #e0dfdf;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
  }

  .tabel th {
    padding: 12px 20px;
    /* background: #ba68c8; */
    color: rgb(90, 90, 90);
    text-transform: uppercase;
    font-family: "Noto Sans KR", sans-serif;
  }
  .tabel thead {
    background: #ffffff;
  }

  .tabel td {
    width: 349px;
    padding: 10px;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: white;
    font-size: 12px;
  }
  .th-1 {
    display: flex;
    justify-content: left;
    padding-left: 5vw;
  }
}

/* 지도css */
.OUTLINE {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
}
#CD11 {
  fill: #0f44f1;
}
#CD26 {
  fill: #1a73bc;
}
#CD27 {
  fill: #1a73bc;
}
#CD28 {
  fill: #1a73bc;
}
#CD29 {
  fill: #1a73bc;
}
#CD30 {
  fill: #1a73bc;
}
#CD31 {
  fill: #1a73bc;
}
#CD36 {
  fill: #1a73bc;
}
#CD41 {
  fill: #0f44f1;
}
#CD42 {
  fill: #1a73bc;
}
#CD43 {
  fill: #1a73bc;
}
#CD44 {
  fill: #1a73bc;
}
#CD45 {
  fill: #1a73bc;
}
#CD46 {
  fill: #1a73bc;
}
#CD47 {
  fill: #1a73bc;
}
#CD48 {
  fill: #1a73bc;
}
#CD50 {
  fill: #0f44f1;
}
.TEXT {
  fill: #ffffff;
  font-size: 16;
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: middle;
}

/* Features */

.features {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 2em -3em;
  width: calc(100% + 3em);
}

.features article {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 0 3em 3em;
  position: relative;
  width: calc(50% - 3em);
}

.features article:nth-child(2n - 1) {
  margin-right: 1.5em;
}

.features article:nth-child(2n) {
  margin-left: 1.5em;
}

.features article:nth-last-child(1),
.features article:nth-last-child(2) {
  margin-bottom: 0;
}

.features article .icon {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  display: block;
  height: 10em;
  line-height: 10em;
  margin: 0 2em 0 0;
  text-align: center;
  width: 10em;
}

.features article .icon:before {
  color: #f56a6a;
  font-size: 2.75rem;
  position: relative;
  top: 0.05em;
}

.features article .icon:after {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 0.25rem;
  border: solid 2px rgba(210, 215, 217, 0.75);
  content: "";
  display: block;
  height: 7em;
  left: 50%;
  margin: -3.5em 0 0 -3.5em;
  position: absolute;
  top: 50%;
  width: 7em;
  background-color: #f5f5f5;
}
.icon-image {
  position: relative;
  z-index: 20;
}
.features article .content {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;
}

.features article .content > :last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 980px) {
  .features {
    margin: 0 0 2em 0;
    width: 100%;
  }

  .features article {
    margin: 0 0 3em 0;
    width: 100%;
  }

  .features article:nth-child(2n - 1) {
    margin-right: 0;
  }

  .features article:nth-child(2n) {
    margin-left: 0;
  }

  .features article:nth-last-child(1),
  .features article:nth-last-child(2) {
    margin-bottom: 3em;
  }

  .features article:last-child {
    margin-bottom: 0;
  }

  .features article .icon {
    height: 8em;
    line-height: 8em;
    width: 8em;
  }

  .features article .icon:before {
    font-size: 2.25rem;
  }

  .features article .icon:after {
    height: 6em;
    margin: -3em 0 0 -3em;
    width: 6em;
  }
}

@media screen and (max-width: 480px) {
  .features article {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: -moz-flex-start;
    -webkit-align-items: -webkit-flex-start;
    -ms-align-items: -ms-flex-start;
    align-items: flex-start;
  }

  .features article .icon {
    height: 6em;
    line-height: 6em;
    margin: 0 0 1.5em 0;
    width: 6em;
  }

  .features article .icon:before {
    font-size: 1.5rem;
  }

  .features article .icon:after {
    height: 4em;
    margin: -2em 0 0 -2em;
    width: 4em;
  }
}

@media screen and (max-width: 480px) {
  .features article .icon:before {
    font-size: 1.25rem;
  }
}
/* @media screen and (width: 600px) {
  footer {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    width: 100vw;
  }

  .ft1 {
    height: auto;
    float: left;
    background-color: rgb(0, 0, 0);
    border-right: 1px solid white;
    text-align: center;
    padding-top: 25vw;
    flex: 1.5;
  }

  .ft1 img {
    position: relative;
    top: 5vw;
    width: 20vw;
    height: 7vw;
  }
  .ft1 p {
    color: white;
    top: 2vw;
    font-size: 0.2vw;
    line-height: 3vw;
  }
  .ft2 {
    height: auto;
    float: left;
    background-color: rgb(0, 0, 0);
    text-align: center;
    flex: 2;
  }

  .ft2 p {
    color: white;
    position: relative;
    top: 10vw;
    font-size: 1vw;
    line-height: 5vw;
  }

  #copyright {
    color: white;
    position: relative;
    top: 70px;
    font-size: 1vw;
  }

  .ft3 {
    height: auto;
    float: left;
    background-color: rgb(0, 0, 0);
    border-left: 1px solid white;
    text-align: center;
    flex: 1.5;
  }

  .ft3 p {
    color: white;
    position: relative;
    top: 25vw;
    font-size: 1vw;
    line-height: 3vw;
  }

  .copylink {
    background-color: gray;
    width: 6vw;
    height: 6vw;
    float: left;
    margin-left: 4vw;
    margin-top: 30vw;
    border-radius: 5px;
  }

  .instagram {
    background-color: pink;
    width: 6vw;
    height: 6vw;
    float: left;
    margin-left: 2vw;
    margin-top: 30vw;
    border-radius: 5px;
  }

  .kakaotalk {
    background-color: yellow;
    width: 6vw;
    height: 6vw;
    float: left;
    margin-left: 2vw;
    margin-top: 30vw;
    border-radius: 5px;
  }

  .ft3 img {
    padding-top: 0.3vw;
  }
} */
header.major > :last-child {
  border-bottom: solid 3px #f56a6a;
  display: inline-block;
  margin: 0 0 2em 0;
  padding: 0 0.75em 0.5em 0;
}

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}
footer {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  width: 100vw;
}

.ft1 {
  height: auto;
  float: left;
  background-color: rgb(0, 0, 0);
  border-right: 1px solid white;
  text-align: center;
  padding-top: 2vw;
  flex: 1.5;
}

.ft1 img {
  position: relative;
  top: 1vw;
  width: 13vw;
  height: 4.5vw;
}
.ft1 p {
  color: white;
  top: 2vw;
  font-size: 1vw;
  line-height: 3vw;
}
.ft2 {
  height: auto;
  float: left;
  background-color: rgb(0, 0, 0);
  text-align: center;
  flex: 2;
}

.ft2 p {
  color: white;
  position: relative;
  top: 2vw;
  font-size: 1vw;
  line-height: 3vw;
}

#copyright {
  color: white;
  position: relative;
  top: 70px;
  font-size: 1vw;
}

.ft3 {
  height: auto;
  float: left;
  background-color: rgb(0, 0, 0);
  border-left: 1px solid white;
  text-align: center;
  flex: 1.5;
}

.ft3 p {
  color: white;
  position: relative;
  top: 2vw;
  font-size: 1vw;
  line-height: 3vw;
}

.copylink {
  background-color: gray;
  width: 4vw;
  height: 4vw;
  float: left;
  margin-left: 7vw;
  margin-top: 2.2vw;
  border-radius: 15px;
}

.instagram {
  background-color: pink;
  width: 4vw;
  height: 4vw;
  float: left;
  margin-left: 2vw;
  margin-top: 2.2vw;
  border-radius: 15px;
}

.kakaotalk {
  background-color: yellow;
  width: 4vw;
  height: 4vw;
  float: left;
  margin-left: 2vw;
  margin-top: 2.2vw;
  border-radius: 15px;
}

.ft3 img {
  padding-top: 0.3vw;
}

.map button[data-city^="map_city"] {
  border: 0;
  position: absolute;
  display: block;
  margin: 0;
  padding: 4px 8px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(100, 100, 100, 0.2);
  border-radius: 2px;
}
.map button[data-city^="map_city"] .name {
  display: block;
  font-size: 11px;
  line-height: 15px;
  color: #333;
  font-weight: 700;
}
.map button[data-city^="map_city"] .num {
  display: block;
  font-family: "Lato";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  font-weight: bold;
  color: #000;
  margin-top: 2px;
}
.map button[data-city^="map_city"] .before {
  display: block;
  font-family: "Lato";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0;
  color: #333;
}
.map button[data-city^="map_city"].select {
  background: #141414;
}
.map button[data-city^="map_city"].select .name {
  color: #fff;
}
.map button[data-city^="map_city"].select .num {
  color: #fff;
}
.map button[data-city^="map_city"].select .before {
  color: #fbfbfb;
}
.map button[data-city="map_city1"] {
  left: 164px;
  top: 200px;
} /*서울*/
.map button[data-city="map_city2"] {
  left: 504px;
  top: 655px;
} /*부산*/
.map button[data-city="map_city3"] {
  left: 400px;
  top: 550px;
} /*대구*/
.map button[data-city="map_city4"] {
  left: 38px;
  top: 84px;
} /*인천*/
.map button[data-city="map_city5"] {
  left: 102px;
  top: 368px;
} /*광주*/
.map button[data-city="map_city6"] {
  left: 158px;
  top: 208px;
} /*대전*/
.map button[data-city="map_city7"] {
  left: 328px;
  top: 352px;
} /*울산*/
.map button[data-city="map_city8"] {
  left: 108px;
  top: 162px;
} /*세종*/
.map button[data-city="map_city9"] {
  left: 132px;
  top: 14px;
} /*경기*/
.map button[data-city="map_city10"] {
  left: 226px;
  top: 54px;
} /*강원*/
.map button[data-city="map_city11"] {
  left: 184px;
  top: 134px;
} /*충북*/
.map button[data-city="map_city12"] {
  left: 52px;
  top: 212px;
} /*충남*/
.map button[data-city="map_city13"] {
  left: 110px;
  top: 284px;
} /*전북*/
.map button[data-city="map_city14"] {
  left: 40px;
  top: 392px;
} /*전남*/
.map button[data-city="map_city15"] {
  left: 250px;
  top: 190px;
} /*경북*/
.map button[data-city="map_city16"] {
  left: 206px;
  top: 348px;
} /*경남*/
.map button[data-city="map_city17"] {
  left: 56px;
  top: 494px;
} /*제주*/
.map button[data-city="map_city18"] {
  left: 302px;
  top: 464px;
} /*검역*/
#content-section-5 {
  margin-bottom: 13vw;
}
.coronaNum {
  margin-top: 10px;
  display: block;
}
